* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.products_list {
  padding: 1rem;

  ul {
    margin-top: 2rem;
    list-style: none;
    line-height: 1.5;

    li {
      margin-top: 12px;
    }
  }

}

.cart {
  margin-top: 2rem;
}

.total_price {
  padding: 8px;
  margin-top: 1rem;
  border: 2px solid black;
  border-radius: 8px;
  text-align: center;
  line-height: 1.5;
}